<section class="project-intro">
	<div class="header pl">
		<h1>Интересно знать</h1>
	</div>
	<div class="text pl pr">
		<p>Ландшафтный дизайн - это искусство озеленения территорий, элементами которого являются планировка и разбивка участка, подбор растений для определённых климатических условий и почв, размещение растений на участке в зависимости от их сочетаемости друг с другом, а также с имеющимися на учаскте водоемами и дорожками. Ландшафтный дизайн предусматривает использование навыков декоративного мощения, освещения и других средств, позволяющих искуственно создать на ограниченном пространстве райский уголок.







			При выборе участка большое внимание уделяется месту, где именно будет располагаться дом. Это логично и понятно. Однако если, осматривая покупаемый участок, Вы представите, как он будет выглядеть после полного благоустройства, со всеми постройками, дорожками, прудом, цветниками, - это будет совершенно грамотно.

			Для этого можно взять план участка, проанализировать стороны света, освещенность участка, направление ветра, состав почвы и другие составляющие и нанести на чертеж в масштабе все планируемые постройки и логичные зеленые насаждения. Это первое, что делает ландшафтный архитектор, приезжая на осмотр участка. Купив участок, можно приступить к проектированию. Проект благоустройства участка необходимо создавать на этапе проектирования дома. В этом случае можно избежать многих ошибок, связанных с формированием рельефа, проведением инженерных систем, освещенностью участка. Генеральный план участка - чертеж, на основе которого выполняется благоустройство участка, грамотно располагаются необходимые постройки и связи между ними.

			Наша команда специалистов выполняет исследовательские, проектные и строительные работы, связанные с благоустройством участка. Обратившись к нам, Вы получите как консультации по выбору и планировке участка, так и сможете продолжить с нами работу по созданию Вашей личной атмосферы на выбранном или уже имеющемся участке.

			ПРОЕКТ БЛАГОУСТРОЙСТВА УЧАСТКА

			Проект благоустройства участка является основной документацией для выполнения работ. Проект включает в себя как основные документы, такие как генеральный план, план проектируемых посадок, посадочные и разбивочные чертежи, так и дополнительные, такие как вертикальный план, проект дренажной и ливневой системы, проект автоматического полива, проект водоема, проект подпорных стенок, план покрытий, 3-D визуализация и другие дополнительные документы. Так же мы предоставляем консультационные услуги по выбору участка.

			УСТРОЙСТВО ДОРОЖЕК И ПЛОЩАДОК

			Дорожки являются связующим звеном между элементами и зонами участка. В арсенале архитектора и строителя находятся сотни вариантов мощения, помогающие подобрать такой вариант мощения и композиций, который будет устраивать как Вас, так и будет выбран верно конструктивно. Очень часто выбор покрытий для дорожек падает на несколько вариантов - деревянные блоки для дорожки в огород, каменные шаговые тропинки между цветниками или в "зеленый кабинет" и, конечно, каменный или искуственный материал для основных часто используемых дорожек. Для различных зон участка зачастую необходимы соответствующие типы покрытий. Специализированные материалы для спортивной или детской площадки, деревянные или деревосодержащие настилы для террас, искуственные или натуральные материалы для мест отдыха, автопарковок. В любое мощение можно внести разнообразие, использовав схемы мощения и разные цветовые оттенки материала.

			ПОДПОРНЫЕ СТЕНЫ

			В случае если Вы желаете разнообразить ровную площадку своего участка или упорядочить неровный участок по вертикали, сформировав террасы с одноуровневыми поверхностями, а так же приподнять некоторые зоны участка, Вам на помощь придет устройство подпорных стенок. Это одно из затратных, но, одновременно, одно из эффектных сооружений в ландшафтном дизайне. Такие стенки выполняются как сухой кладкой, так и на бетонное основание, а высота подпорной стенки зависит от разности высот на участке, проектируемых сооружений и зеленых насаждений. Подпорные стенки так же могут создаваться из таких готовых изделий как матрасы РЕНО и габионы, однако их использование рекомендуется на довольно обширных территориях. Так же, если необходимо сформировать рельеф без устройства подпорных стенок, то в этом случае эффективно использовать георешетку, которая позволит создать довольно крутой уклон, в последствии на эти участки сформированного рельефа высеивают газонные травы.

			ВОДНЫЕ СООРУЖЕНИЯ

			Водное сооружение на участке - это возможность создать свой уголок для отдыха и микроклимат для растений. Выбор водных сооружений достаточно широк для создания различного настроения: ручей с мостиком или родник, бьющий из-под камней, многочисленные виды фонтанов или водопадов, естественный или созданный искуственно пруд или собственный берег озера, облицованный под морскую стену или гранитную набережную с причалом. Разнообразие видов камня дает простор для фантазии заказчика и дизайнера. В итоге на Вашем участке создается водный элемент, который полностью Вас устроит и будет создавать настроение.

			ОСВЕЩЕНИЕ

			Силуэт дерева, освещенного в темное время суток, подсветка белоокаймленных кустарников или малых архитектурных форм привносят в ночную атмосферу сада таинственность и красоту ночной природы. Однако освещение на участке имеет не только эстетическое, но и вполне функциональное значение. Подсветка входной зоны и дорожек - необходимый атрибут безопасности жизнедеятельности. Многообразие осветительных приборов поможет найти именно такие светильники, которые подойдут дизайну и функциям Вашего участка. В последнее время приобретает популярность обильное фасадное освещение, которое превращает дом в дом-сказку в ночное время. Такое освещение производится как подготовка к празднику, так и для постоянного функционирования. Только представьте себе, как будут восхищены Ваши близкие, когда в обычный выходной день они прибудут к Вам в гости и увидят красочную и гостеприимную картину!

			СИСТЕМЫ ПОЛИВА

			Ни для кого не секрет, что саду и огороду необходим достаточный полив, а для некоторых растений дополнительно требуется дождевание. Если участок небольшой, или Вы пользуетесь услугами садовника, осуществлять ручной полив не составляет труда, однако в противном случае Вам не обойтись без системы полива. Так как полив растений необходимо проводить ранним утром или вечером, стоит задуматься именно об автоматическом поливе. Поверхностный, дождевание, внутрипочвенный, капельный - эти типы автополива устанавливаются в соответствие с потребностями растений, живущих в Вашем саду.

			ДРЕНАЖНЫЕ И ЛИВНЕВЫЕ СИСТЕМЫ

			На этапе создания проекта необходимо запланировать такие немаловажные работы как устройство систем отвода воды с участка. Малейшее подтопление может вызвать как образование болезней у растений вплоть до гибели, так и расстроить Вас образовавшимися лужами на дорожке. Поэтому мы очень рекомендуем создание систем дренажа и ливневки на участке, особенно если уровень грунтовых вод высок, и в грунте содержится значительный процент глины.

			УСТРОЙСТВО И ПОСЕВ ГАЗОНА

			Одним из видов зеленого строительства является газон. Рулонный или посевной, это зависит от Вашего желания. Часто эти два типа газона совмещают, так как рулонный газон - это быстрый эффект и удобство, а в некоторых других местах участка возможности выложить рулонный газон нет в силу сложного рельефа или рисунка озеленения. Так же рулонный газон - это коротко стриженный травяной покров, тогда как иногда в озеленении участка используется такой цветочный газон как мавританский. Для спортивных площадок существует специальный спортивный газон, в случае если Вы желаете сделать площадку для занятия спортом менее заметной зоной участка, заменив искуственное пластиковое покрытие на натуральный покров.

			КОМПОЗИЦИИ ИЗ ДЕКОРАТИВНЫХ РАСТЕНИЙ

			Такой декоративный элемент как композиция - важный элемент благоустройства, выполняющий функцию создания цветового пятна именно в той части участка, где это необходимо и желаемо. Часто возникает необходимость не только облагородить какую-либо зону на участке, но и скрыть неприглядные виды. Таким образом, композиции могут быть как только цветочными, так и наполненные кустарниками и деревьями. С их помощью можно искуссно окаймить постройки и дорожки, украсить входную зону, закрыть места отдыха и пребывания от лишних глаз, обильной освещенности. В то же время цветочные композиции дополняют различными видами камней, что вносит полную гармонию. Мы сотрудничаем с компаниями-поставщиками растений, а так же с питомниками Ленинградской области, таким образом мы подберем для Вашего сада цветы, кустарники и деревья, подходящие для микроклимата Вашего участка, и создадим необходимое и достаточное количество зеленых зон.

			МАЛЫЕ АРХИТЕКТУРНЫЕ ФОРМЫ

			Необходимым атрибутом благоустройтсва сада является создание малых архитектурных форм. Это возможность не только расставить акценты на участке, но и сделать Ваш сад уникальным в своем роде. Конечно, типовые и серийные архитектурные формы это быстро и удобно, однако осознание того, что Ваша беседка, летняя кухня, детская площадка, ограждения, выполненные по индивидуальному проекту, единственные в многообразии выпускаемых изделий, точно будет греть душу и радовать глаз.

			ОБСЛУЖИВАНИЕ САДА

			Ухаживать за растениями на участке - дело не только хлопотное, но и трудо- и даже наукоемкое. Специалист должен не только уметь пользоваться газонокосилкой и садовыми ножницами, но и знать всевозможные болезни, поражающие растения. Покупка растений у поставщиков, дающих гарантии на свой зеленый товар, является одним из залогов здоровой и долгой жизни растения. Однако ежегодно необходимо производить ряд работ, связанных с санитарной обработкой зеленых насаждений. Стрижка газона, формирование кроны, выкопка лишних растений и досадка недостающих, а так же внесение удобрений, борьба с вредителями и сорняками - это лишь небольшая часть проводимой работы по уходу за садом. Таким образом по завершению всех работ по благоустройству Вам будут обязательно предложены услуги по ежегодному обслуживанию участка. Из года в год Ваш сад будет только радовать Вас, а хлопоты доверьте нам.</p>
	</div>
</section>