<section class="project-intro">
	<div class="header pl">
		<h1>Рады приветсвовать Вас на сайте компании «Просто Дом»</h1>
	</div>
	<div class="text pl pr">
		<p>Наши проекты сочетают в себе современный архитектурный стиль, удобство внутренних планировочных решений и применение традиционных строительных материалов, таких как керамзитобетон и кирпич. Мы не хотим ставить эксперименты на своих заказчиках и гарантируем качество и абсолютную безопасность наших домов.</p>
		<p>Наши архитекторы сформулировали следующую концепцию:</p>
		<ol>
			<li>Наши проекты это - типовые проекты с широкими возможностями
				индивидуализации, что существенно удешевит их стоимость для заказчика.</li>
			<li>Внешний вид наших домов это - простота форм и красота материалов. Каждый
				дом имеет индивидуальные черты, которых нет в других домах.</li>
			<li>Внутри наши дома это - возможность сделать любую, необходимую заказчику
				планировку.</li>
			</ol>
	</div>
</section>