<section class="project intro clear">
	<div class="header pl">
		<h1><%= @current_project.name %></h1>
	</div>
	<div class="text pl pr">
		<p><%= @current_project.intro.html_safe %></p>
	</div>
</section>