.heapBox {
	clear: both;
	display: inline-block;
	line-height: 50px;
	position: relative;
	width: 100%;
}

.heapBox * {
	margin: 0;
	padding: 0;
	outline: none;
}

.heapBox.disabled .holder {
	color: #30C3A5;
}

.heapBox a {
	text-decoration: none;
	color: black;
	font-family: "Avante";
}

.heapBox .holder {
	width: calc(100% - 50px);
	overflow: hidden;
	background: white;
	text-indent: 10px;
	height: 50px;
}

.heapBox .handler {
	width: 50px;
	background: url(sprites.png) -364px 80px #a6ce39;
	height: 50px;
}

.heapBox .holder, .heapBox .handler {
	float: left;
	position: relative;
	z-index: 10;
}

.heapBox div.heap {
	display: none;
	position: absolute;
	list-style-type: none;
	left: 0;
	top: 50px;
	overflow: hidden;
	width: 100%;
}

.heapBox .heap .heapOptions {
	display: block;
	overflow: hidden;
	z-index: 20;
	position: relative;
}

.heapBox .heap a.sliderUp {
	display: block;
	width: 100%;
	height: 15px;
	background: #16a085 url(slider_arrow_up.png);
	background-repeat: no-repeat;
	background-position: center center;
	border-bottom: 1px solid #0c7a64;
	position: absolute;
	top: 0px;
	z-index: 30;
}

.heapBox .heap a.sliderDown {
	display: block;
	width: 100%;
	height: 15px;
	background: #16a085 url(slider_arrow_down.png);
	background-repeat: no-repeat;
	background-position: center center;
	border-top: 1px solid #0c7a64;
	position: absolute;
	bottom: 0px;
	z-index: 30;
}

.heapBox .heap .heapOptions .heapOption {
	z-index: 20;
	position: relative;
	display: block;
	height: 35px;
	line-height: 35px;
}

.heapBox .heap .heapOptions .heapOption a {
	width: 100%;
	display: block;
	background: #a6ce39;
	text-indent: 20px;
	color: white;
}

.heapBox .heap .heapOptions .heapOption a:hover {
	background: #779d0e;
}

.heapBox .heap .heapOptions .heapOption a.selected {
	background: #85ad18;
}

.heapBox .heap .heapOptions .heapOption a.disabled {
	color: #1CCEAB;
}