// General--
html, body {
  height: 100%;
}

header, footer {
  position: relative;
  padding: 0 40px;
}

header {
  height: 16%;
  min-height: 170px;
}

.pt {
  padding-top: 20px;
}
.pr {
  padding-right: 40px;
}
.pb {
  padding-bottom: 20px;
}
.pl {
  padding-left: 40px;
}
.mr {
  margin-right: 40px;
}

.table-row {
  display: table-row;
  width: 100%;
}

.clearfix {
  clear: both;
}

.disabled {
  color: grey;
  cursor: default;
}
.hidden {
  display: none;
}
// --General
// Templating--
header {
  nav {
    position: absolute;
    bottom: 17px;
    .pointer {
      background: url("sprites.png") -168px 63px;
      height: 16px;
      width: 46px;
      position: relative;
      left: 50%;
      top: 20px;
      margin-left: -23px;
    }
  }
  .logo {
    position: relative;
    top: 56px;
  }
}

footer {
  height: 7%;
  nav {
    position: relative;
    top: 10px;
  }
}

header ul, footer ul{
  list-style: none;
  li {
    float: left;
    margin-right: 20px;
  }
}

.stripe {
  min-width: 1200px;
  height: 2%;
  background-color: #eadfc3;
}

.flash-notice {
  position: absolute;
  width: 60%;
  max-width: 900px;
  height: 65px;
  p {
    line-height: 65px;
    padding: 0 40px;
  }
}

main {
  height: 73%;
  min-height: 705px;
  min-width: 1200px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

.article, .gallery {
  float: right;
  clear: both;
  max-width: 410px;
}

.article, .gallery {
  width: 34%;
}

.article {
  background: #2f989d;
  .header {
    border-bottom: solid 1px #38adb3;
  }
}

.gallery {
  background: #25858a;
  .header {
    border-bottom: solid 1px #2f989d;
  }
  img {
    border: solid white 4px;
    margin: 0 0 10px 0;
  }
  img:nth-child(even) {
    float: right;
  }
  img:nth-child(odd) {
    float: left;
  }
}

.project-intro {
  float: left;
  position: absolute;
  bottom: 260px;
  width: 60%;
  max-width: 900px;
  clear: both;
  .header {
    min-height: 70px;
    background: url("big-prosto-logo-roof.png") no-repeat 134px bottom transparent;
    h1 {
      padding: 0 0 0.2em 0;
    }
  }
  .text {
    min-height: 113px;
    background: url("big-prosto-logo.png") no-repeat 134px -70px, url("big-prosto-logo-stripe.png") repeat-y 134px 0 #ab9d7b;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  ::-webkit-scrollbar {
    width: 12px;
  }
  ::-webkit-scrollbar-track {
    background-color: #C0B08B;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #AB9D7B;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #85795D;
  }
}

.projects {
  bottom: 0;
  width: 100%;
  display: table;
  position: absolute;
  aside {
    vertical-align: middle;
  }
  .data {
    min-width: 360px;
    display: table-cell;
    .header {
      background: #a6ce39;
      border-bottom: solid 1px #b4df3d;
      white-space: nowrap;
    }
    ul {
      height: 114px;
      float: left;
      background: #a6ce39;
      width: -webkit-calc(100% - 76px);
      width: -moz-calc(100% - 76px);
      width: calc(100% - 76px);
      margin-right: -76px;
      li {
        line-height: 28px;
      }
    }
    .stub {
      width: 36px;
      height: 114px;
      background: url("sprites.png") no-repeat 0 0 transparent;
      float: right;
    }
    .expand-info, .buy {
      height: 31px;
      line-height: 31px;
      clear: both;
    }
    .expand-info {
      background: #85ad18;
    }
    .buy {
      background: #779d0e;
    }
  }
  .list {
    display: table-cell;
    width: 100%;
    position: relative;
    .scroller-wrapper {
      display: block;
      float: left;
      position: absolute;
      top: 47px;
      right: 112px;
      bottom: 32px;
      left: 57px;
      .scroller {
        display: block;
        float: left;
        .item {
          float: left;
          width: 240px;
          height: 147px;
          position: relative;
          margin: 0 5px;
          .image {
            border: solid 10px white;
            width: 220px;
            height: 127px;
            display: block;
          }
          .title {
            position: absolute;
            background-color: #779d0e;
            line-height: 25px;
            padding-left: 10px;
            right: 10px;
            bottom: 10px;
            left: 10px;
          }
        }
      }
    }
    .to-left, .to-right {
      height: 52px;
      margin-top: 3px;
      width: 52px;
      display: block;
      background-image: url("sprites.png");
    }
    .to-left {
      background-position: -44px 81px;
      margin-left: -15px;
      //margin-right: 20px;
      float: left;
    }
    .to-right {
      background-position: -104px 81px;
      //margin-left: 20px;
      margin-right: 40px;
      float: right;
    }
  }
}
// --Templating
// Images--
i.img {
  background-image: url("sprites.png");
  height: 38px;
  width: 38px;
  display: block;
  float: left;
  margin: 12px 0 0 20px;
}

.article i {
  background-position: -318px 76px;
}
.gallery i {
  background-position: -272px 76px;
}
.data i {
  background-position: -227px 76px;
}
// --Images
// Formtastic --
.formtastic .inline-errors {
  margin: 0;
  float: right;
}

#new_order {
  span {
    width: 45%;
    display: block;
    overflow: hidden;
    position: relative;
    i {
      background-image: url("sprites.png");
      width: 50px;
      height: 50px;
      display: block;
      position: absolute;
      border-right: 1px solid #a6ce39;
    }
    li {
      width: 100%;
      input {
        height: 50px;
        width: 100%;
        padding: 0 10px 0 60px;
        border: none;
      }
    }
  }
  .order_submit_action {
    float: left;
    button {
      background: #2f989d;
      border: none;
      width: 100%;
      height: 50px;
      color: white;
    }
  }
  .order_project_input {
    float: left;
    margin-right: 20px;
    overflow: visible;
    > li {
      overflow: visible;
    }
    i {
      background-position: -364px 80px;
      background-color: #a6ce39;
    }
  }
  .order_buyer_name_input {
    i {
      background-position: -467px 80px;
    }
    clear: left;
    float: left;
    margin-right: 20px;
  }
  .order_buyer_phone_input {
    float: left;
    i {
      background-position: -519px 80px;
    }
  }
  .order_buyer_email_input {
    clear: left;
    float: left;
    margin-right: 20px;
    i {
      background-position: -414px 80px;
    }
    li {
      margin-bottom: 0;
    }
  }
}
// --Formtastic
// Text--
@font-face {
  font-family: 'Avante';
  src: font-url('AAvanteTckMedium.eot');
}

@font-face {
  font-family: 'Avante';
  src: font-url('AAvanteTckMedium.woff') format('woff'),
  font-url('AAvanteTckMedium.svg#AAvanteTckMedium') format('svg');
}

input {
  outline: none;
}

a, p, li, h1, h2, .formtastic input, .formtastic button {
  font-family: "Avante";
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

header a {
  font-size: 1em;
}

p {
  font-size: 0.9em;
  line-height: 1.6em;
}

footer a, .data a {
  font-size: 0.8em;
}

header a, footer a {
  color: black;
}

.continue-to-read {
  text-decoration: underline;
}

.flash-notice p,
.article,
.gallery,
.project-intro,
.data, .data a,
.scroller .item .title,
.continue-to-read {
  color: white;
}

h1 {
  text-shadow: black 1px 2px 4px;
}

a {
  text-decoration: none;
}

.data a {
  text-decoration: underline;
}

nav a {
  text-transform: uppercase;
}

.text, .photos {
  padding-top: 20px;
  padding-bottom: 20px;
}

.article h2, .gallery h2, .data h2 {
  line-height: 64px;
  padding: 0 70px;
}

.offer {
  font-size: 0.6em;
  clear: both;
  position: relative;
  top: 45px;
}
// --Text